@font-face
{
    font-family: "Lato-Light";
    src: url(res/font/Lato-Light.ttf);
}

@font-face
{
    font-family: "Lato";
    src: url(res/font/Lato-Regular.ttf);
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #323844;
	box-sizing: border-box;
	color: #292e37;
	font-family: "Lato";
	font-size: 14px;
	margin: 0px auto;
	
}

main{ overflow: auto }



/* FORM ELEMENTS */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder
{ color: #878787; }

textarea, input, select, button { outline: none }

input:focus::-webkit-input-placeholder { color: transparent }
input:focus:-moz-placeholder { color: transparent } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent } /* FF 19+ */
input:focus:-ms-input-placeholder { color: transparent } /* IE 10+ */

select
{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #f2f1f1 url(res/img/arrow.png) 90% center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 6px;
	color: #5c6066;
	display: block;
	line-height: normal;
}

input[type="text"],
input[type="password"],
input[type="mail"]
{
	display: block;
	font-size: 13px;
	padding-left: 12px;
	width: 120px;
}

input,
.button,
textarea,
select
{ 
	background-color: #f2f1f1;
	border: none;
	border-radius: 12px;
	color: #5c6066;
	font-family: Lato-Light;
	height: 25px;
	margin-bottom: 4px;
}

input.input,
textarea.contact,
select.dropdown
{
	border-radius: 20px;
	display: inline;
	font-size: 13px;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 25px;
	width: 210px;
}

input.long,
select.long
{
	width: 350px;
	margin: 0 10px 15px 0;
}

input.input.long.wrong,
select.dropdown.long.wrong
{ border: 1px solid #82bbeb }


.button
{
	color: #fff !important;
	cursor: pointer;
	display: block;
	font-size: 11px;
	padding: 0 15px 0 15px;
	text-align: center;
	text-transform: uppercase;
}

.buttonBig
{
	background-color: #559bd6;
	border-radius: 20px;
	display: inline;
	font-size: 13px;
	height: 40px;
	text-align: center;
}

.addBag,
.cancel
{
	display: block;
	margin-left: 18px;
	padding-top: 13px;
}



/* HEADER */
#header-container
{
	background-color: #292e37;
	height: 80px;
	top: 0px;
	width: 100%;
}

#grey-strip
{
	background-color: #3a4049;
	height: 10px;
}

header
{
	height: 70px;
	margin: auto;
	width: 940px;
}

#header-background
{
	background-color: #5391c6;
	background-image: url("res/img/navbar/header-map.png");
	background-position: center center;
	background-repeat: no-repeat;
	height: 150px;
	width: 100%;
}

#logo
{
	float: left;
	margin-top: 10px;
}

nav
{
	float: left;
	margin: 0 10px 0 20px;
	width: 460px;
}

nav ul { float: right }
nav li
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: -10px 0px 0px 0px;
}
	
nav a,
nav a:visited,
nav a:focus
{
	background-color: #2e333d;
    border-top: 10px solid #4b515b;
    color: #e1e1e1;
	display: block;
    font-family: Lato-Light;
	font-size: 14px;
	height: 80px;
	margin: 0 5px 0 5px;
    padding: 25px 10px 0 10px;
	text-align: center;
    text-decoration: none;
	text-transform: uppercase;
-webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
   -moz-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
     -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
        transition: color 0.3s ease 0s, border-color 0.3s ease 0s; 
	width: 105px;
}

nav a:hover
{
    border-top-color: #59606c;
    color: #fff;
}
	
nav a.active,
nav a.active:focus
{
    border-top-color: #377bb5;
    color: #fff;
-webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
   -moz-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	-ms-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	 -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	 	transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

nav li a,
nav li a:visited,
nav li a:focus
{ display: inline-block }

.header-input
{
	background-color: #1D212A;
	color: #fff;
}

#login-inputs,
#login-buttons,
#login-infos,
#buttonLogout
{
	float: left;
	margin: 8px 0 0 10px;
}

#buttonLogin{ background-color: #377bb5 }

#buttonLogout
{
	background-color: #377bb5;
	margin: 20px 0 0 40px;
	padding-top: 6px;
}

#buttonRegister
{
	background-color: #559bd6;
	padding-top: 6px;
}

#login-infos
{
	color: #fff;
	margin-left: 30px;
	padding-top: 7px;
	text-align: center;
}



/* FOOTER */
#footer-container
{
	background-color: #292E37;
	border-top: 10px solid #2D5377;
	height: 130px;
	margin-top: -100px;
	position: relative;
	width: 100%;
	z-index: 10;
}

footer
{
	color: #acacac;
	font-family: "Lato";
	font-size: 14px;
	margin: auto;
	padding-top: 70px;
	text-align: center;
	width: 940px;
}



/* MAIN GENERAL CONTENT */
hr
{
	color: #2A2E37;
	margin: 25px 0px;
	opacity: 0.4;
}

a,
a:visited,
a:hover
{ 
	color: #559bd6;
	text-decoration: none;
}

h1
{
	background-color: #292e37;
	border-left: 10px solid #377bb5;
	color: #fff;
	font-family: "Lato";
	font-size: 30px;
	font-weight: normal;
	height: 125px;
	margin: auto;
	padding: 40px;
	position: relative;
	text-transform: uppercase;
	top: -50px;
	width: 940px;
	z-index: 20;	
}

h1 > span
{
	display: block;
	font-family: Lato-Light;
	font-size: 14px;
}

main
{
	background-color: #FFFFFF;
	margin: 0px auto;
	padding: 40px;
	position: relative;
	top: -50px;
	width: 940px;
	z-index: 20;
}

table
{
	margin: auto;
	color: #666b74;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

tr
{
	border: none;
	margin: 0;
	padding: 0;
}

td
{
	border-bottom: 1px solid #e7e7e7;
	padding: 20px;
}



.blueChip
{
	background-color: #377bb5;
	border-radius: 20px;
	color: #FFFFFF;
	margin: 0px 9px;
	padding: 3px 9px;
}

h3
{
	color: #559bd6;
	margin-bottom:10px;
}

td > span,
form > span
{
	color: #377bb5;
	display: block;
	font-family: Lato-Light;
}
form > span{ margin-bottom: 10px }



/* HOME */
#homeTable
{
	margin-top: 40px;
	width: 600px;
}

.homeTDLeft{ background-color: #f4f4f4 }
.homeTDRight
{
	background-color: #eee;
	text-align: center;
}

#searchBar
{
	float:left;
	position: absolute;
	right: 50px;
	top: 40px;
}

#searchBar > input[type="text"]
{
	background-color: #3a4049;
	color: #fff;
}


table[id="homeTable connected"]
{
	margin-top: 50px;
	width: 860px;
}

th
{
	background-color: #377bb5;
	color: #fff;
	padding: 20px;
}
th#null{ background-color: #fff }

.dark{ background-color: #f1f0f0 }
.light{ background-color: #f7f7f7 }

span.address
{
	display: block;
	font-size: 11px;
	font-family: Lato-Light;
	margin-top: 3px;
}

.TDOne,
.TDThree
{
	padding: 8px;
	text-align: center;
	width: 350px;
}

.TDTwo
{
	background-color: #e7e6e7;
	width: 45px;
}

.TDFour
{
	background-color: #fff;
	border: none;
	float: right;
	padding: 20px 0 10px 0;
	text-align: right;
	width: 130px;
}

#pagination
{
	color: #559bd6;
	margin: 30px 0 0 -110px;
	text-align: center;
}

#pagination span:not(.blueChip)
{
	/*border: 1px solid #377bb5;*/
	border-radius: 20px;
	color: #377bb5;
	cursor: pointer;
	margin: 0px 9px;
	padding: 3px 9px;
}



/* CONTACT */
#map
{
	height: 400px;
	width: 100%;
}

.column
{
	box-sizing: border-box;
	float: left;
	margin-top: 35px;
	text-align: justify;
	width:50%;
}

#one{ padding-right: 20px }
#two{ padding-left: 5px }

#contact-infos
{
	margin-top: 40px;
	text-align: center;
}

textarea.contact
{
	height: 145px;
	outline: none;
	padding: 25px;
	resize: none;
	width: 425px;
}



/* ABOUT US */
#compagny{ margin-bottom: 45px }

#ICLogo
{
	float: left;
	height: 100px;
	margin: 0 20px 40px 0;
	width: 200px;
}

.profilePicture
{
	background-color: #9e9fa2;
	float: left;
	height: 100px;
	margin-right: 20px;
	width: 125px;
}

#marion
{
	background-image: url("res/img/aboutus/marion.jpg");
	background-position: center center;
	background-size: cover;
}

#mike
{
	background-image: url("res/img/aboutus/mike.jpg");
	background-position: left center;
	background-size: cover;
}

#hugo
{
	background-image: url("res/img/aboutus/hugo.jpg");
	background-position: center bottom;
	background-size: cover;
}

#adrien
{
	background-image: url("res/img/aboutus/adrien.jpg");
	background-position: center bottom;
	background-size: cover;
}



/* BAG */
.cancel
{
	background-color: #4b515b !important;
	font-size: 11px;
}



/* CONFIRMATION */
.quantity
{
	background-color: #4b515b;
	border-radius: 20px;
	color: #fff !important;
	display: block;
	float: right;
	font-family: Lato-Light;
	font-size: 13px;
	height: 40px; 
	padding: 12px 10px 0 10px;
	text-transform: uppercase;
	text-align: center;
}



/* REGISTER */
#registerForm,
#profileForm
{
	margin: auto;
	margin-top: 30px;
	width: 800px;
}



/* PROFILE */
.profile
{
	background-color: #377bb5;
	display: inline;
	margin: -5px 0 -10px 10px;
}

input.inputProfile,
select.selectProfile { margin-top: 20px }

.editing{ color: #559bd6 }

#spanButton
{
	color: #377bb5;
	margin-left: 10px;
}

#passwordConfirmation{ margin-top: 18px }

input[disabled],
select[disabled]
{
	background-color: #e9e9e9;
	color: #a8afba;
}



/* ORDER HISTORY */
.history{ padding: 10px }
.history > input{ float: right }
