/**
 *	Colors :
 *		- main 1 : 2A2E37 (gris/noir) [fond, font, ...]
 *		- main 2 : 367BB6 (bleu) [btn, links, bandeaux, ...]
 *		- main 3 : FFFFFF (.. bah blanc) [fond, font ou le fond est main1, ...]
 *
 *		- alt  1 : 222933 (gris fonc�) [input fond, subtitles, ...]
 *		- alt  2 : 5799D3 (bleu plus clair) [over, active, ...]
 *		- alt  3 : F2F0F1 (gris clair) [empty inputs fond, ...]
 *
 *
 */

@font-face {
    font-family: "Lato-Light";
    src: url(res/font/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(res/font/Lato-Regular.ttf);
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #323844;
	color: #2A2E37;
	margin: 0px auto;
	box-sizing: border-box;
}


/* HEADER */

#header-container {
	height: 80px;
	background-color: #292e37;
	width: 100%;
	top: 0px;	
}

#grey-strip {
	height: 10px;
	background-color: #3a4049;
}

header {
	height: 70px;
	width: 940px;
	margin: auto;	
}

#grey-strip {
	height: 10px;
	background-color: #343b46;
}

#header-background {
	background-image: url("bodybg.png");
	height: 150px;
	width:100%;
}

#logo {
	margin-top: 10px;
	float: left;
}

nav {
	margin: 0 10px 0 20px;
	width: 460px;
	float: left;
}

nav ul {
	float: right;
}

nav li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: -10px 0px 0px 0px;
}
	
nav a, nav a:visited, nav a:focus {
	display: block;
	background-color: #2e333d;
	height: 80px;
	width: 105px;
	text-align: center;
	margin: 0 5px 0 5px;
    padding: 25px 10px 0 10px;
    border-top: 10px solid #4b515b;
    font-family: Lato-Light;
	font-size: 14px;
    color: #e1e1e1;
    text-decoration: none;
	text-transform:uppercase;
		-webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	   -moz-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	    -ms-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	     -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
	        transition: color 0.3s ease 0s, border-color 0.3s ease 0s; 
}

nav a:hover {
    border-top-color: #59606c;
    color: #fff;
}
	
nav a.active, nav a.active:focus {
    border-top-color: #377bb5;
    color: #bfac6e;
    font-weight: bold;
        -webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
       -moz-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
        -ms-transition: color 0.3s ease 0s, border-color 0.3s ease 0s; 
         -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s; 
	        transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

nav li a, nav li a:visited, nav li a:focus {
    display: inline-block;
}

#login-inputs, #login-buttons{
	float: left;
	margin: 8px 0 0 10px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
    color: #878787;
}

textarea, input { outline: none; }

input[type="text"], input[type="password"]
{
	font-size: 14px;
	padding-left: 12px;
	width: 120px;
	display: block;
}

input, .button
{ 
	font-family: Lato-Light;
	border: none;
	border-radius: 12px;
	margin-bottom: 4px;
	height: 25px;
	background-color: #f2f1f1;
	color: #5c6066;
}

.header-input {
	background-color: #1D212A;
	color: #fff;
}

.button {
	font-size: 11px;
	color: #fff;
	width: 85px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	cursor: pointer;
}

#buttonLogin {
	background-color: #377bb5;
}

#buttonRegister
{
	background-color: #559bd6;
	padding-top: 6px;
}


/* FOOTER */

#footer-container {
	height: 110px; 
	width: 100%;
	background-color: #292E37;
	border-top: 10px solid #2D5377;
	margin-top: 200px; /*temp*/
}

footer
{
	padding-top: 35px;
	font-family: "Lato";
	font-size: 14px;
	color: #acacac;
	width: 940px;
	margin: auto;
	text-align: center;
}


/* MAIN GENERAL CONTENT */
hr
{
	color: #2A2E37;
	margin: 25px 0px;
	opacity: 0.4;
}

a{ text-decoration: none }
a, a:visited, a:hover
{ 
	color: #559bd6;
	text-decoration: none;
}

main
{
	background-color: #FFFFFF;
	margin: 0px auto;
	margin-top: 200px;
	width: 1050px;
}





/* --- old --- */
main section
{
	background-color: #FFFFFF;
	border: 1px solid lightgray;/**/
	border-radius: 5px;
	/*box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.25);/**/
	margin: 20px auto 30px auto;
	padding: 8px;
	width: 600px;
}

.cAuto{cursor: auto}
.cCross{cursor: crosshair}
.cDefault{cursor: default}
.cHelp{cursor: help}
.cNotAllowed{cursor: not-allowed}
.cPlus{cursor: copy}
.cPtr{cursor: pointer}
.cZoomIn{cursor: zoom-in}
.cZoomOut{cursor: zoom-out}
